@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
}
/* root used to create css variables. 
-- is used and can be given any names. 
they can be used anywhere in this css file*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* applys to all default values to be changed */


body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    height: 100%;
    /*background-size: cover; */  /*used so the image is fully coverd instead of small area(if it is small in default)*/
    background-size: 2000px 400px;
    background-color: var(--pale-blue);
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
}
.card {
    width: 450px;
    background-color: white;
    color: var(--desaturated-blue);
    border-radius: 20px;
    overflow: hidden;
    margin: 50px auto;
}
.title {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 32px;
}
.hero-image {
    width: 100%;   
}  
    /*fits the image according to the width of card class.
 remove width in image default 
so can be changed accordingly*/

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.container > * {
    margin: 13px 0;
}

/* the > * means it applies for all childs of the container */
.order-description {
    line-height: 25px;
}

.plan-container {
    font-size: 16px;
    background-color: var(--very-pale-blue);
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plan-container a{
    color: var(--bright-blue);
    font-size: 13px;
    font-weight: 700;
}
.plan-container a:hover {
    opacity: 0.8;
    text-decoration: none;  /* no underline */
}
  
.plan-description {
    line-height: 20px;
    margin-right: 75px;
    
}

button {
    width: 100%;
    border: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 12px;
}
.proceed-button {
    background-color: var(--bright-blue);
    padding: 1rem 0;
    color: white;
    box-shadow: 0 20px 30px -8px rgb(197 189 245);
}

.proceed-button:hover {
    opacity: 0.8;
}

.plan-container strong {
    color: var(--dark-blue);
}

.cancel-button {
    background-color: white;
    color: var(--desaturated-blue);
    margin-top: 22px;
}

.cancel-button:hover {
    color: black
}